<div id="pinContainer">

						<section class="panel blue">
                        <%if !current_user%>
                            <a href="/users/sign_up" id="getstarted"><button class="btn btn-info">Get started</button></a>
                            <%end%>
                            <img id="img1"src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/35389348_178886662795908_506454705229004800_n.jpg?_nc_cat=0&oh=c696f56f56508c85c3dec5aca3634026&oe=5C21378E">
                           
                        </section>
						<section class="panel turqoise">
							
                            <img id="img2" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/37250648_201818063836101_4823638402467364864_n.jpg?_nc_cat=0&oh=0f62a4daa7c5a1c8d44edeb57c76d26e&oe=5C23F545">
						</section>
						<section class="panel green">
						
                            <img id="img3" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/35481287_178886686129239_6756783391187664896_n.jpg?_nc_cat=0&oh=9e2cb6b9d562163451fc02de075457ee&oe=5C61C8AD">
						</section>
						<section class="panel bordeaux">
					
                            <img id="img4" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/37275270_201818057169435_1121116704844283904_n.jpg?_nc_cat=0&oh=c1e4f612c0dbed9a465fdf9d1ffbca04&oe=5C166A77">
						</section>
					</div>
                    <div class='content'>
                    <div class="hometext">
                     <h1 class="title">How we started!</h1>
                    <div class='about'>
                   <img class="sallaimg" src="/assets/hymja.jpg">
                   <p  class="homepara">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    </div>
                    </div>

                    <div class="hometext">

                     <h1 class="title">Where we at now</h1>

                     <div class='about'>
                     <p class="homepara">
                     
                    Nunc pulvinar sapien et ligula. Etiam erat velit scelerisque in dictum non consectetur a. In iaculis nunc sed augue lacus. Magna fermentum iaculis eu non diam phasellus vestibulum lorem. Pellentesque habitant morbi tristique senectus et. Dolor sit amet consectetur adipiscing elit duis tristique sollicitudin. At volutpat diam ut venenatis tellus. Quam viverra orci sagittis eu volutpat odio. Lorem sed risus ultricies tristique nulla aliquet enim tortor at. Nunc sed blandit libero volutpat. Mi bibendum neque egestas congue quisque egestas. Vitae nunc sed velit dignissim sodales ut eu sem integer.
                    </p>
                    <img class="sallaimg" src="/assets/logo.jpg">
                     </div>
                    </div>
                    </div>