<div id="pinContainer">
						<section class="panel blue">
							<b>ONE</b>
						</section>
						<section class="panel turqoise">
							<b>TWO</b>
						</section>
						<section class="panel green">
							<b>THREE</b>
						</section>
						<section class="panel bordeaux">
							<b>FOUR</b>
						</section>
					</div>