@import 'bootstrap';

 .fc-button-prev{
    background: blue;
    width: 15px;
    height: 15px;
    display: inline-block;
}

body {
    margin: 0 auto !important;
    
    /* background-image: linear-gradient(to right top, #256d1b, #418c1f, #5fab20, #82cb1d, #a8eb12); */
    background-color: #47624F;
  }

.top-nav {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // background-image: linear-gradient(to right top, #256d1b, #418c1f, #5fab20, #82cb1d, #a8eb12);
    border-bottom: 1px solid;
    box-shadow: 0px 0px 5px 5px;
    padding: 10px 10px;
    margin: 0;
    margin-bottom: 5px;
    
    
    
}
   
#logo{
    
    font-size: 40px;
}

#logobi{
    margin-left: 20px;
}

#form{
    
   text-align: center;
    margin: 10vh auto;
    width: 400px;
    height: auto;
    background: #DBE4EE;
    width: 400px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px;
    
   
    /* max-width: 500px; */
}

.for{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh auto;
    width: 400px;
    height: 600px;
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 5px 5px 5px;
    background: #DBE4EE;
}

#pinContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.panel{
    height: 100%;
    width: 100%;
    position: absolute;
}


#img1{
    width: 100%;
    height: 100%;
}

#img2{
    width: 100%;
    height: 100%;
}

#img3{
    width: 100%;
    height: 100%;
}

#img4{
    width: 100%;
    height: 100%;
}

#pinContainer{
    width: 100vw;
    height: 100vh;
    
}



.button5:hover {
    background-color: #555555;
    color: white;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 400px;
    padding: 30px;
    font-size: 20px;
    
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

.sallaimg{
    width: 500px;
    height: 300px;
}

footer{
    margin-bottom: 0px;
    // background-image: linear-gradient(to right top, #256d1b, #418c1f, #5fab20, #82cb1d, #a8eb12);
    height: 200px;
    padding-top: 30px;
    border-top: 1px solid;
    box-shadow: 0px 0px 5px 5px;
    

}

#contact{
    display: flex;
    flex-direction: column;
    align-content: center;
    color: white;
    
}

.homepara{
    border-bottom: 1px solid gray;
     padding: 20px; 
     margin-bottom: 0px; 
     font-size: 20px;
}

.title{
    font-size: 30px;
    padding-top: 50px;
    margin-bottom: 0px;
}

#calendar {
    max-width: 850px;
    margin: 40px auto;
    background:#DBE4EE;
    padding: 10px;
    box-shadow: 5px 10px;

  }

  #nameimg{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 400px;
      background: #DBE4EE;
      width: 400px;
      border: 1px solid;
      padding: 5px;
      box-shadow: 5px 5px 5px 5px;
      
    //   border-radius: 80%;
    //   background: #4CAF50;
  }

  .lin{
      text-decoration: none;
      color: white;
      .lin:hover{
          color:green;
      }
  }

  #profile{
    display: flex;
    height: 800px;
    width: 95%;  
    padding: 10px;
    justify-content:space-around;
    align-items: center;
    margin-left:40px;
    border: 1px solid;
   margin-top:15px;
    box-shadow: 5px 10px;
    background: #57705F;
  }

  #getstarted{
      z-index: 200;
      position: absolute;
      margin-top: 400px;
      margin-left: 650px;
  }

  #error{
      display: flex;
      justify-items: center;
      justify-content: center;
  }

.mickey{
    width: 20vw;
    height: 40vh;
    border-radius: 80%;
    background: #4CAF50;
}

.cate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 200px;
    background: #DBE4EE;
    height: 300px;
    width: 300px;
    box-shadow: 2px;
    text-align: center;
    list-style: none;
    font-size: 30px;
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 5px 5px 5px;
    li{
        font-size:20px ;
    }
}

.appo{
    padding: 10px;
    box-shadow: 5px 10px;
    background: #57705F;
    width: 95%;
    display: flex;
    justify-content: space-around;
    height:800px;
    border: 1px solid;
    margin-left:40px;
}

tbody{
    font-size:20px;
}

a{
    color: black;
}

.apptable{
    border: 1px solid;
    height: auto;
    background: #DBE4EE;
    padding: 10px;
    box-shadow: 5px 10px;
    margin: 40px auto;
}

.hometext{
    border: 1px solid;
    height: auto;
    background: #DBE4EE;
    padding: 10px;
    box-shadow: 5px 10px;
    margin-bottom: 20px;
}

.notice{
    position: absolute;
}
.alert{
    position: absolute;
    
}