/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require calendar
 *= require_self
 *= require fullcalendar
 *= require fullcalendar_engine/application
 */

 .fc-button-prev{
    background: blue;
    width: 15px;
    height: 15px;
    display: inline-block;
}

#form{
    margin: 10vh auto;
    width: 20vw;
    max-width: 500px;
}

#pinContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.panel{
    height: 100%;
    width: 100%;
    position: absolute;
}

.panel.blue{
  background-image: url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/35389348_178886662795908_506454705229004800_n.jpg?_nc_cat=0&oh=c696f56f56508c85c3dec5aca3634026&oe=5C21378E')
}

.panel.turqoise{
    background-image: url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/37250648_201818063836101_4823638402467364864_n.jpg?_nc_cat=0&oh=0f62a4daa7c5a1c8d44edeb57c76d26e&oe=5C23F545')
}

.panel.green{
    background-image: url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/35481287_178886686129239_6756783391187664896_n.jpg?_nc_cat=0&oh=9e2cb6b9d562163451fc02de075457ee&oe=5C61C8AD')
}

.panel.bordeaux{
    background-image: url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/37275270_201818057169435_1121116704844283904_n.jpg?_nc_cat=0&oh=c1e4f612c0dbed9a465fdf9d1ffbca04&oe=5C166A77')
}